body {
  background-color: lightgray;
  font-size: 20px;
}

#top-buttons {
  background-color: black;
  height: 45px;
}
/* top buttons */
#aboutMe{
  background-color: orange;
  color: white;
  border-radius: 20%;
  height: 40px;
  margin-top: 2.50px;
  margin-left: 3px;
}

button:hover {
  background-color: blueviolet;
}

.heading {
  display: flex;
  justify-content: center;
  align-items: center;

}

#picture {
  background-color: black;
  height: 100px;
  width: 100px;
  background-repeat: no-repeat;
  margin: 20px 15%;
  border-radius: 50%;
}




